<nav class="mainNavbar navbar sticky-top navbar-light navbar-light bg-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/logo-home.png" alt="" class="img-fluid" width="150px">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0 d-flex flex-row align-items-center">
        <!-- <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light" href="#">
            <h2 class="mb-0">News Letter</h2>
          </a>
        </li>
        
        <li class="nav-item ms-4">
          <a class="nav-link text-light" [routerLink]="['/logout']">
            <img src="../assets/images/logout.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>