<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-start">
          <div class="footer-logo">
            <img src="./assets/images/logo-home.png" alt="" width="200px">
          </div>
        </div>
        <div class="col-md-6">
          <div class="address">
            <p>BioXcel LLC.<br>
              2614 Boston Post Road Suite #33B , Guilford |<br>
              CT 06437 | USA</p>
          </div>
        </div>
        <div class="col-md-3">
          <address>
            <h3>Our family of Companies</h3>
            <ul>
              <li><a href="">BioXcel Therapeutics</a></li>
              <li><a href="">InveniAI® LLC</a></li>
              <li><a href="">E.Z. BioXcel</a></li>
            </ul>
          </address>
        </div>
      </div>
    </div>
    <div class="bottom-copy">
      <p class="mt-4">Copyright &copy; 2022, BioXcel Therapeutics, Inc. All rights reserved.</p>
    </div>
  </footer>