<app-header></app-header>

<section class="blog-detail-wrapper">

  <div class="loading-custom" *ngIf="loading" style="text-align:center;"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>

  <div class="container" *ngIf="loading==false">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-detail-box">
          <div class="back-arrow">
            <span class="text-end">
              <a class="btn btn-bxl" [routerLink]="['/dashboard']"> <img src="./../assets/images/back.svg" alt=""> Back
              </a>
            </span>
          </div>        

          <div class="row">
            <div class="col-md-12">
              <div class="author-info">
                <div class="author">
                  <div class="avatar">
                    <img src="./../assets/images/avatar.png" alt="" class="img-fluid">
                  </div>
                  <span>
                    <a href="{{newsletterDetailsData.url}}"
                      target="_blank">
                      {{newsletterDetailsData.url}}
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="author-info">
                <div class="author">
                  <div class="avatar">
                    <img src="./../assets/images/calendar.png" alt="" class="img-fluid">
                  </div>
                  <span>{{newsletterDetailsData.publication_date}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="blog-heading">
            <h1>{{newsletterDetailsData.title}}</h1>
          </div>
          <div class="blog-content">
            {{newsletterDetailsData.description}}
          </div>
        </div>
      </div>
    </div>

    <!-- Tag Lists -->
    <div class="row">
      <div class="col-md-12">
        <div class="tags-list mb-5">

          <h3 class="sidebar-title">Tags</h3>
          <li *ngIf="newsletterDetailsData.ta_names">TA: {{newsletterDetailsData.ta_names}}</li> 
          <li *ngIf="newsletterDetailsData.disease_names">Disease: {{newsletterDetailsData.disease_names}}</li> 
          <li *ngIf="newsletterDetailsData.company_names">Company: {{newsletterDetailsData.company_names}}</li> 
          <li *ngIf="newsletterDetailsData.drug_names">Drug: {{newsletterDetailsData.drug_names}}</li>
          <li *ngIf="newsletterDetailsData.gene_names">Gene: {{newsletterDetailsData.gene_names}}</li> 
          <li *ngIf="newsletterDetailsData.moa_names">MOA: {{newsletterDetailsData.moa_names}}</li>          
          
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="blog-detail-box">
        <div class="back-arrow">
          <span class="text-end">
            <a class="btn btn-bxl" [routerLink]="['/dashboard']"> <img src="./../assets/images/back.svg" alt=""> Back
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Tag Lists -->

</section>