<div class="login-wrapper">
  <div class="container" style="position: relative;width: 100vw;height: 100vh;">
    <div class="login-box">
      <div class="login-inner">
        <h2>Login now</h2>

        <div class="alert alert-danger" *ngIf="error=='true'">
          {{errorMessage}}
        </div>
        <div class="loading-custom" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span> &nbsp;Loading...</div>

        <div class="form-box">            
        <form #loginForm="ngForm" (ngSubmit)="loginFrmSubmit(loginForm)">
                <div class="mb-3">
                  <!--<label for="email" class="form-label">Email</label>-->
                  <input ngModel [ngClass]="{'form-control':true}" required email type="email" name="email" id="email" placeholder="Email Address">
                  

                </div>
                
                <div class="mb-3">
                  <!--<label for="password" class="form-label">Password</label>-->
                      <input ngModel [ngClass]="{
                        'form-control':true}" required minlength="3" type="password" name="pass" id="pass" placeholder="Password">
                    
                </div>
                
                <div class="d-grid submit-btn">
                  <button class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>