//LOGIN CSS
.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-wrapper .login-box {
    width: 400px;
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: 0px 4px 4px #343434;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

.login-wrapper .login-box .login-inner h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.login-wrapper .login-box .login-inner input[type=email],
.login-wrapper .login-box .login-inner input[type=password] {
    height: 50px
}

.loading-custom {
    // position: absolute;
    width: 100px;
    background: #b6eaef;
    text-align: center;
    border: 0px solid #b3af22;
    font-size: 13px;
    color: #000;
    top: 42px;
    padding: 4px;
    left: 50%;
    // margin-left: -50px;
    z-index: 999;

    span {
        color: #000;
    }
}