<div class="login-wrapper">
  <div class="container" style="position: relative;width: 100vw;height: 100vh;">
    <div class="login-box">
      <div class="login-inner">
        <h2>Login now</h2>

        <div class="alert alert-danger" *ngIf="error=='true'">
          {{errorMessage}}
        </div>
        <div class="loading-custom" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span> &nbsp;Loading...</div>
        <div class="form-box">            
        
          <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope" class="form-signin">
            <div class="form-group" style="margin-bottom:10px;">
                <input name="email" #emailForm="ngModel" [(ngModel)]="email" id="input-email" pattern=".+@.+..+"
                    class="form-control" placeholder="Email address"
                    [class.form-control-danger]="emailForm.invalid &&  emailForm.touched" autofocus required>
                <small class="form-text error"
                    *ngIf=" emailForm.invalid &&  emailForm.touched &&  emailForm.errors?.required" style="color:red;">Email
                    is required!</small>
                <small class="form-text error"
                    *ngIf=" emailForm.invalid &&  emailForm.touched &&  emailForm.errors?.pattern" style="color:red;">Email
                    should be the real one!</small>
            </div>

            <div class="form-group" style="margin-bottom:10px;">
                <input name="password" #passwordFrom="ngModel" [(ngModel)]="password" type="password"
                    id="input-password" class="form-control" placeholder="Password"
                    [class.form-control-danger]="passwordFrom.invalid && passwordFrom.touched" required>
                <small class="form-text error"
                    *ngIf="passwordFrom.invalid && passwordFrom.touched && passwordFrom.errors?.required" style="color:red;">Password
                    is required!</small>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!form.form.valid">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                </button>
            </div>
            
            <!--<div class="d-none d-lg-block" style="text-align: right;">
                <a href="sys-req" title="System Requirement" alt="System Requirement"
                    style="color: #49c4ee; font-size: 15px;">(System Requirement)</a>
            </div>-->
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>