<app-header></app-header>

<section class="blogs-listing">
    <div class="page-content-wrapper">

        <div class="main-content-wrapper">
            <!-- page title start -->
            <section class="page-title">
                Manage Password <span class="intro-text">- Reset your password</span>
            </section>
            <!-- page title end -->
            <!-- page main content start -->

            <div class="alert alert-success" *ngIf="success">
                {{successMessage}}
            </div>
            <div class="alert alert-danger" *ngIf="error">
                {{errorMessage}}
            </div>

            <div class="loading-custom" *ngIf="loading"><h1><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</h1></div>

            <form (ngSubmit)="updatePassword()" #form="ngForm" autocomplete="nope">
                <section class="form-section">
                    <!--<div class="row">
                        <div class="col-sm-12 field-label">Enter existing password <span class="icon-asterisk">*</span></div>
                        <div class="col-sm-12 field-value">
                            <input name="old_password" #passwordExistingFrom="ngModel" [(ngModel)]="old_password"
                                type="password" id="input-existing-password" class="form-control" placeholder="Password"
                                [class.form-control-danger]="passwordExistingFrom.invalid && passwordExistingFrom.touched"
                                required>
                            <small class="form-text error" *ngIf="passwordExistingFrom.invalid &&  passwordExistingFrom.touched &&  passwordExistingFrom.errors?.required"><span
                                    class="glyphicon glyphicon-info-sign"></span> Please enter existing password
                                is required!</small>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-12 field-label">Enter new password <span class="icon-asterisk">*</span></div>
                        <div class="col-sm-12 field-value">
                            <input name="new_password" #passwordFrom="ngModel" [(ngModel)]="new_password" type="password"
                                id="input-update-password" class="form-control" placeholder="Password"
                                [class.form-control-danger]="passwordFrom.invalid && passwordFrom.touched" required>
                            <small class="form-text error" *ngIf="passwordFrom.invalid &&  passwordFrom.touched &&  passwordFrom.errors?.required"><span
                                    class="glyphicon glyphicon-info-sign"></span> Please enter new password
                                is required!</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 field-label">Re-enter new password <span class="icon-asterisk">*</span></div>
                        <div class="col-sm-12 field-value">
                            <input name="new_password_confirmation" #passwordConfirmFrom="ngModel" [(ngModel)]="new_password_confirmation"
                                type="password" id="input-update-confirm-password" class="form-control" placeholder="Confirm Password"
                                [class.form-control-danger]="passwordConfirmFrom.invalid && passwordConfirmFrom.touched"
                                required>
                            <small class="form-text error" *ngIf="passwordConfirmFrom.invalid && passwordConfirmFrom.touched &&  passwordConfirmFrom.errors?.required"><span
                                    class="glyphicon glyphicon-info-sign"></span> Please re-enter confirm password
                                is required!</small>
                            <!-- <small class="form-text error" *ngIf="passwordConfirmFrom.touched && (passwordConfirmFrom!==passwordFrom).errors?.required"><span
                                    class="glyphicon glyphicon-info-sign"></span> Password Mismatched!</small> -->
                        </div>
                    </div>
                    <div class="row form-footer-buttonwrapper">
                        <div class="col-sm-12">
                            <button class="button button-primary">Reset Password</button>
                        </div>
                    </div>
                </section>
            </form>
            <!-- page main content end-->
        </div>

    </div>
</section>