<app-filter-disease-synonym-search></app-filter-disease-synonym-search>

<div class="main-article-content" style="min-height:365px;">

    <div class="search-results" 
    infinite-scroll 
    [infiniteScrollDistance]="2" 
    [infiniteScrollThrottle]="300" 
    (scrolled)="onScroll()">

        <div class="modal-body without_bord_rad indicators-modal">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12" *ngIf="!loadingSyns">
                        <div class="text-white total-syn-count mb-2">Total Synonyms: &nbsp; <span  class="badge bg-dark">{{diseases_syns.length}}</span> of 
                            <span class="badge bg-dark" style="margin-left:0px;"> {{diseases_syns_count}}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="indicator_search inputWithSearchIcn">
                            <input class="form-control" type="text" [(ngModel)]="diseaseSynFilterText">
                            <span class="fa fa-search "></span>
                        </div>
                        <div style="color:#fff;">
                            &nbsp;&nbsp;By Default 2500 Synonyms are displaying, to load more synonyms please scroll the page to the end!
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-modal-body" style="max-height: calc(100vh - 480px);overflow: auto;">
                <div class="container">
                    <div class="loading-custom" *ngIf="loadingSyns"><h3><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</h3></div>
                    <div class="row" *ngIf="diseases_syns.length > 0">
                        <div class="col-sm-6" style="background-color:#32404E;"><span class="custom-control-description" style="color:#fff;">Disease Synonym Name</span></div>
                        <div class="col-sm-6" style="background-color:#32404E;"><span class="custom-control-description" style="color:#fff;">Disease Name</span></div>
                    </div> 

                    <div class="row" *ngFor="let diseasesyn of diseases_syns | DiseaseSynFilterPipe:diseaseSynFilterText" style="border:1px solid #32404e;">
                        <div class="col-sm-6" style="background-color:#572e51;">
                            <span class="custom-control-description" style="color:#fff;">&nbsp;&nbsp;{{diseasesyn.disease_syn_name}}</span>
                        </div>
                        <div class="col-sm-6" style="background-color:#20264f;">
                            <span class="custom-control-description" style="color:#fff;">&nbsp;&nbsp;{{diseasesyn.disease_name}}</span>
                        </div>
                    </div>
                </div>            
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="loading-custom text-center" *ngIf="!loadingSyns && isLoading"><img src="./assets/images/spinner_loader.gif"></div>        
        <div *ngIf="!notEmptyPost" class="row" style="text-align:center;">
            <div class="alert alert-warning">
            No more Synonym
            </div>
        </div>
    </div>
</div>
