<app-header></app-header>

<section class="blogs-listing">
  <div class="full-width-filters">
    <div class="filter-single">
      <app-filter-data-range (onDateRangeChangedEvent)='dateRangeChanged($event)'></app-filter-data-range>
    </div>
    <div class="filter-single">
      <app-filter-categories-ai-v2 (onSelectTa)='taChanged($event)'>
      </app-filter-categories-ai-v2>
    </div>
    <div class="filter-single">
      <app-filter-disease (onSelectIndication)='indicationChanged($event)'>
      </app-filter-disease>
    </div>
  </div>
  <div class="main-wrapper">

    <div class="sidebar-wrapper desktop">
      <app-filter-company (onSelectCompany)='companyChanged($event)'>
      </app-filter-company>
      <app-filter-drug (onSelectDrug)='drugChanged($event)'>
      </app-filter-drug>
      <app-filter-gene (onSelectGene)='geneChanged($event)'>
      </app-filter-gene>
      <app-filter-moa (onSelectMoa)='moaChanged($event)'>
      </app-filter-moa>
    </div>

    <div class="sidebar-wrapper mobile" *ngIf="showSidebar">
      <app-filter-company (onSelectCompany)='companyChanged($event)'>
      </app-filter-company>
      <app-filter-drug (onSelectDrug)='drugChanged($event)'>
      </app-filter-drug>
      <app-filter-gene (onSelectGene)='geneChanged($event)'>
      </app-filter-gene>
      <app-filter-moa (onSelectMoa)='moaChanged($event)'>
      </app-filter-moa>
    </div>

    <div class="main-article">
      <div class="toggleBtn" (click)='ontoggleSidebar()'>
        <img src="../../assets/images/menu.svg" alt="" width="40px">
      </div>
      <app-newsletter-lists [ProceedDoFilterApply]="doFilterApply"></app-newsletter-lists>
      <app-footer></app-footer>
    </div>

  </div>
</section>