<app-header></app-header>

<section class="blogs-listing">
  <div class="main-wrapper">

  <div class="sidebar-wrapper">
    <div class="heading-filter">Filter</div>
    <!--<app-filters></app-filters>-->
    <!--Show here all the filters lists -->
    <app-filter-data-range (onDateRangeChangedEvent)='dateRangeChanged($event)'></app-filter-data-range>
    <app-filter-categories-ai-v2 (onSelectTa)='taChanged($event)'>
    </app-filter-categories-ai-v2>
    <app-filter-disease (onSelectIndication)='indicationChanged($event)'>
    </app-filter-disease>
    <app-filter-company (onSelectCompany)='companyChanged($event)'>
    </app-filter-company>
    <app-filter-drug (onSelectDrug)='drugChanged($event)'>
    </app-filter-drug>
    <app-filter-gene (onSelectGene)='geneChanged($event)'>
    </app-filter-gene>
    <app-filter-moa (onSelectMoa)='moaChanged($event)'>
    </app-filter-moa>    
  </div>

    <div class="main-article">        
      <app-newsletter-lists [ProceedDoFilterApply]="doFilterApply"></app-newsletter-lists>
      <app-footer></app-footer>
    </div>

  </div>
</section>