/* You can add global styles to this file, and also import other style files */
$primary-color : #bb61a3;
$secondary-color : #554f9f;
$cardHeading : #344050;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

body {
    min-height: 100vh;
    background-color: #e5eaf2;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

@mixin buttonBackground {
    background-image: linear-gradient(to right, $primary-color, $secondary-color);
    border: none;
    height: 42px;
}

@mixin card {
    border: none;
}

@mixin cardHeader {
    padding: 1.25rem 1rem 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $cardHeading;
}

@mixin cardBody {
    padding: 0.7rem 1rem 1rem;
}

@mixin selectDropdown {
    font-size: 13px;
}

//NAVBAR CSS
.mainNav {
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(155, 155, 155, 1%) !important;
    background-color: #fff;

    .navbar-toggler {
        font-size: 15px;
        color: #000;
    }

    .navbar-brand {
        padding: 0px;
        margin-right: 0;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .side-menu-toggler {
            display: none;
            width: 30px;
            margin-right: -16px;
        }

        @media (max-width:767px) {
            .side-menu-toggler {
                display: block;
            }
        }
    }

    .navbar-nav {
        li {
            a {
                color: #424242;
                padding: 0.5rem 2.25rem;

                &.active {
                    color: $secondary-color;
                    font-weight: 500;
                }
            }
        }
    }
}

//CARD GLOBAL CSS 
.card {
    @include card();

    .card-header {
        @include cardHeader();

        h6 {
            margin-bottom: 0px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .card-body {
        @include cardBody();

        select {
            @include selectDropdown();
        }

        input.form-control {
            font-size: 13px;
        }
    }
}

//DASHBOARD PAGE CSS
.dashboard-main-wrapper {
    display: flex;
    column-gap: 30px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4.5rem;

    .breadcrumb {
        .card {
            width: 100%;

            .card-body {
                z-index: 1;

                h3 {
                    font-size: 22px;
                    color: $cardHeading;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                    }
                }
            }
        }

        .bg-holder {
            background-image: url('../../assets/images/corner-4.png');
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .left-sidebar {
        width: 250px;
        min-width: 250px;
        position: fixed;
        top: 72px;
        left: 11px;
        bottom: 0;
        overflow: auto;
        padding-right: 5px;
        transition: all 0.5s;

        h2.filters {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .card {
            .card-header {
                svg {
                    width: 13px;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #adadad;
            border-radius: 8px;
        }
    }

    .right-content {
        width: calc(100% - 250px);
        margin-left: auto;
        padding-left: 30px;
    }

    &.sidebar-opened {
        .left-sidebar {
            margin-left: 0;
        }
    }

    @media (max-width:767px) {
        .left-sidebar {
            z-index: 1031;
            background: #fff;
            padding: 20px 10px 20px 15px;
            top: 0;
            left: 0;
            margin-left: -261px;

            h2.filters {
                margin-bottom: 0;
            }

            .card {
                margin-bottom: 0 !important;

                .card-header {
                    padding: 1.25rem 0 0;
                }

                .card-body {
                    padding: 0.7rem 0 0;
                }
            }
        }

        .right-content {
            width: 100%;
            padding-left: 0;
        }
    }
}





/// new footer css
/// 
/// 
/// 

.breadcrumb-image {
    padding: 60px 20px;
    text-align: center;
    background-color: #58585a;
    /*background: rgb(65,77,158);*/
    /*background-image: linear-gradient(90deg, rgb(65, 77, 158) 37%, rgb(175, 93, 162) 90%);*/
    color: #fff;
    margin-bottom: 40px;
    background-image: url(../../assets/images/trust-wave.png);
    background-size: cover;
    background-position: top;
}

.bg-header {
    background-image: linear-gradient(90deg, rgb(65, 77, 158) 37%, rgb(175, 93, 162) 90%);
}

.body-bg {
    background: url(../../assets/images/teambg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h3.sidebar-title {
    font-size: 19px;
    margin-bottom: 10px;
    color: #414D9E;
}

.sidebar-box {
    /* margin-bottom: 50px; */
    padding: 0px 0px 0px 30px;
}

.tags-list li {
    list-style: none;
    display: inline-block;
    word-break: break-all;
    padding: 7px 15px;
    background: #8157A1;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-right: 7px;
    font-size: 14px;
}

.related-page li {
    list-style: none;
    font-size: 15px;
    padding: 7px 0px;
    border-bottom: 1px dotted #ececec;
}

.related-page li a {
    color: #000;
}

.blogs-listing .blogs-card {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f3f7;
    border-radius: 10px;
}

.blogs-listing .blogs-card .title {
    margin-bottom: 20px;
}

.blogs-listing .blogs-card .title h3 {
    line-height: 1.4rem;
}

.blogs-listing .blogs-card .title small {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blogs-listing .blogs-card .title h3 a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #414D9E;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blogs-listing .blogs-card .title small a {
    word-break: break-all;
}

.blogs-listing .blogs-card .date-time {
    margin-bottom: 15px;
}

.blogs-listing .blogs-card .date-time span:nth-child(1) {
    padding-right: 20px;
}

.blogs-listing .blogs-card .date-time span:nth-child(2) {
    margin: 0;
    letter-spacing: normal;
    font-weight: 400;
    opacity: .7;
    padding: 0 20px;
    position: relative;
}

.blogs-listing .blogs-card .date-time span:nth-child(2)::before {
    content: "•";
    position: absolute;
    left: -4px;
    top: -2px;
}

.blogs-listing .blogs-card .date-time span:nth-child(2)::after {
    content: "•";
    position: absolute;
    right: -4px;
    top: -2px;
}

.blogs-listing .blogs-card .date-time span:nth-child(3) {
    margin: 0;
    letter-spacing: normal;
    font-weight: 400;
    opacity: .7;
    padding-left: 20px;
}

.blogs-listing .blogs-card .description {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-detail-wrapper {
    padding-bottom: 50px;
    margin-top: 20px;
}

.blog-detail-wrapper .blog-detail-box .back-arrow {
    margin-bottom: 15px;
}

.blog-detail-wrapper .blog-detail-box .back-arrow span {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.blog-detail-wrapper .blog-detail-box .back-arrow span img {
    width: 20px;
    margin-right: 10px;
}

.blog-detail-wrapper .blog-detail-box .detail-image {
    background-image: url(../../assets/images/hero.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

.blog-detail-wrapper .blog-detail-box .author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.blog-detail-wrapper .blog-detail-box .author-info .author {
    display: flex;
    align-items: center;
    padding-right: 30px;
    column-gap: 20px;
}

.blog-detail-wrapper .blog-detail-box .author-info .author .avatar {
    width: 40px;
    height: 40px;
}

.blog-detail-wrapper .blog-detail-box .author-info .time {
    font-weight: 400;
    opacity: .7;
    padding-left: 30px;
    position: relative;
}

.blog-detail-wrapper .blog-detail-box .author-info .time::before {
    content: "•";
    position: absolute;
    left: 0;
}

.blog-detail-wrapper .blog-detail-box .blog-heading {
    margin-bottom: 20px;
}

.blog-detail-wrapper .blog-detail-box .blog-heading h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.blog-detail-wrapper .blog-detail-box .blog-content p {
    font-size: 17px;
    margin-bottom: 20px;
}

.footer {
    background-image: linear-gradient(90deg, rgb(65, 77, 158) 37%, rgb(175, 93, 162) 90%);
    text-align: center;
    padding: 20px 0px;
}

.footer p {
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
}

.footer address ul li {
    text-align: left;
}

.footer address ul {
    padding-left: 20px;
    list-style: none;
}

.footer address ul li::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.footer address ul li a {
    color: #fff;
}

.footer address h3 {
    text-align: left;
    font-size: 20px;
    color: #fff;
}