@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

* {
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

p {
    letter-spacing: 0.4px;
    font-size: 17px;
}

a {
    text-decoration: none;
    letter-spacing: 0.2px;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1584438784894-089d6a62b8fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-wrapper .login-box {
    width: 400px;
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: 0px 4px 4px #343434;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

.login-wrapper .login-box .login-inner h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.login-wrapper .login-box .login-inner input[type=email],
.login-wrapper .login-box .login-inner input[type=password] {
    height: 50px
}

/* Main wrapper css */
.main-wrapper {
    display: flex;
}

.main-wrapper .sidebar-wrapper {
    background-color: #19283c;
    width: 300px;
    min-width: 300px;
    position: fixed;
    top: 88px;
    z-index: 99;
    height: calc(100vh - 88px);
    padding: 15px 15px;
    overflow: auto;
    bottom: 0;
}

.main-wrapper .sidebar-wrapper .heading-filter {
    color: #fff;
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: 700;
}

.main-wrapper .sidebar-wrapper .filter-card {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
}

.main-wrapper .sidebar-wrapper .heading-card {
    color: #404040;
    font-size: 17px;
    padding: 10px 10px;
    border-bottom: 1px solid #e7e7e7;
}

.main-wrapper .sidebar-wrapper .body-card {
    padding: 10px 10px 20px;
    max-height: 250px;
    overflow: auto;
}

.main-wrapper .main-article {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.main-wrapper .main-article .main-article-content {
    padding: 40px 40px 0px;
}

/* Main wrapper css */

.footer {
    background-image: linear-gradient(90deg, rgb(65, 77, 158) 37%, rgb(175, 93, 162) 90%);
    text-align: center;
    padding: 20px 0px;
}

.footer p {
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
}

.footer address ul li {
    text-align: left;
}

.footer address ul {
    padding-left: 20px;
    list-style: none;
}

.footer address ul li::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.footer address ul li a {
    color: #fff;
}

.footer address h3 {
    text-align: left;
    font-size: 20px;
    color: #fff;
}

.breadcrumb-image {
    padding: 60px 20px;
    text-align: center;
    background-color: #58585a;
    /*background: rgb(65,77,158);*/
    /*background-image: linear-gradient(90deg, rgb(65, 77, 158) 37%, rgb(175, 93, 162) 90%);*/
    color: #fff;
    margin-bottom: 40px;
    background-image: url(./assets/images/trust-wave.png);
    background-size: cover;
    background-position: top;
}

.bg-header {
    background-image: linear-gradient(90deg, rgb(65, 77, 158) 37%, rgb(175, 93, 162) 90%);
}

.body-bg {
    background: url(./assets/images/teambg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h3.sidebar-title {
    font-size: 19px;
    margin-bottom: 10px;
    color: #414D9E;
}

.sidebar-box {
    /* margin-bottom: 50px; */
    padding: 0px 0px 0px 30px;
}

.tags-list li {
    list-style: none;
    display: inline-block;
    word-break: break-all;
    padding: 7px 15px;
    background: #8157A1;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-right: 7px;
    font-size: 14px;
}

.related-page li {
    list-style: none;
    font-size: 15px;
    padding: 7px 0px;
    border-bottom: 1px dotted #ececec;
}

.related-page li a {
    color: #000;
}

.blogs-listing .blogs-card {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f3f7;
    border-radius: 10px;
}

.blogs-listing .blogs-card .title {
    margin-bottom: 20px;
}

.blogs-listing .blogs-card .title h3 {
    line-height: 1.4rem;
}

.blogs-listing .blogs-card .title small {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blogs-listing .blogs-card .title h3 a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #414D9E;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blogs-listing .blogs-card .title small a {
    word-break: break-all;
}

.blogs-listing .blogs-card .date-time {
    margin-bottom: 15px;
}

.blogs-listing .blogs-card .date-time span:nth-child(1) {
    padding-right: 20px;
}

.blogs-listing .blogs-card .date-time span:nth-child(2) {
    margin: 0;
    letter-spacing: normal;
    font-weight: 400;
    opacity: .7;
    padding: 0 20px;
    position: relative;
}

.blogs-listing .blogs-card .date-time span:nth-child(2)::before {
    content: "•";
    position: absolute;
    left: -4px;
    top: -2px;
}

.blogs-listing .blogs-card .date-time span:nth-child(2)::after {
    content: "•";
    position: absolute;
    right: -4px;
    top: -2px;
}

.blogs-listing .blogs-card .date-time span:nth-child(3) {
    margin: 0;
    letter-spacing: normal;
    font-weight: 400;
    opacity: .7;
    padding-left: 20px;
}

.blogs-listing .blogs-card .description {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-detail-wrapper {
    padding-bottom: 50px;
    margin-top: 20px;
}

.blog-detail-wrapper .blog-detail-box .back-arrow {
    margin-bottom: 15px;
}

.blog-detail-wrapper .blog-detail-box .back-arrow span {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.blog-detail-wrapper .blog-detail-box .back-arrow span img {
    width: 20px;
    margin-right: 10px;
}

.blog-detail-wrapper .blog-detail-box .detail-image {
    background-image: url(./assets/images/hero.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

.blog-detail-wrapper .blog-detail-box .author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.blog-detail-wrapper .blog-detail-box .author-info .author {
    display: flex;
    align-items: center;
    padding-right: 30px;
    column-gap: 20px;
}

.blog-detail-wrapper .blog-detail-box .author-info .author .avatar {
    width: 40px;
    height: 40px;
}

.blog-detail-wrapper .blog-detail-box .author-info .time {
    font-weight: 400;
    opacity: .7;
    padding-left: 30px;
    position: relative;
}

.blog-detail-wrapper .blog-detail-box .author-info .time::before {
    content: "•";
    position: absolute;
    left: 0;
}

.blog-detail-wrapper .blog-detail-box .blog-heading {
    margin-bottom: 20px;
}

.blog-detail-wrapper .blog-detail-box .blog-heading h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.blog-detail-wrapper .blog-detail-box .blog-content p {
    font-size: 17px;
    margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #AF5DA2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #414D9E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #283799;
}

.btn-bxl {
    background-color: #414D9E;
    color: white;
    padding: 10px 25px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;

}

.btn-bxl:hover {
    background-color: #AF5DA2;
    background: #AF5DA2;
    color: #FFF;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.justify-text li {
    margin-bottom: 12px;
}

@media (max-width:1024px) {
    .blog-detail-wrapper .blog-detail-box .blog-heading h1 {
        font-size: 25px;
    }
}

@media (max-width:768px) {
    .sidebar-box {
        padding: 0;
    }
}

@media (max-width:767px) {
    .blog-detail-wrapper .blog-detail-box .blog-heading h1 {
        font-size: 23px;
    }

    .mainNavbar .navbar-brand img {
        width: 100px;
    }

    .mainNavbar .navbar-nav .nav-link h2 {
        font-size: 21px;
    }

    .card-listing-row {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px dotted #b9b9b9;
    }
}

@media (max-width:575px) {
    .login-wrapper .login-box {
        width: 95%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width:480px) {
    .login-wrapper .login-box {
        padding: 60px 20px;
    }

    .blogs-listing .blogs-card .title h3 a {
        font-size: 16px;
    }

    .blogs-listing .blogs-card .date-time {
        font-size: 14px;
    }

    .blogs-listing .blogs-card .description {
        font-size: 14px;
    }

    .blogs-listing .blogs-card .read-more a {
        font-size: 13px;
        border-bottom: 1px solid;
    }

    .mainNavbar .navbar-nav .nav-link h2 {
        font-size: 18px;
    }

    .blog-detail-wrapper .blog-detail-box .blog-heading h1 {
        font-size: 19px;
    }
}


///////////
/// 
/// *----INDICATOR MODAL POPUP---*/
.indicators-modal {
    padding: 0px !important;

    .modal-header {
        background: #f7f7f7;
        display: inherit;
        border-bottom: 1px solid #ddd;
        padding: 10px 20px;

        h6 {
            font-size: 15px;
            color: #333;
            margin-bottom: 5px;
            position: relative;
            font-weight: bold;

            span.close {
                position: absolute;
                right: -15px;
                color: #fff;
                opacity: 1;
                padding: 0px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                top: -4px;
                margin: 0px;
                border-radius: 100%;
            }
        }

        .indicator_search {
            width: 30%;
            float: left;

            input {
                border: 1px solid #ddd;
                border-radius: 0px;
                color: #333;
            }

            input:focus {
                border: 1px solid #ddd;
                background: #fff;
            }

            input::placeholder {
                color: #333;
            }
        }

        .indicator_alpha {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 70%;
            float: left;
            margin-top: 13px;
            padding-left: 30px;

            span {
                display: flex;
                flex: auto;
                font-size: 12px;
                color: #666;
                justify-content: start;
                cursor: pointer;
            }
        }
    }

    .custom-modal-body {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 5px 20px;
    }

    .singleIndicatorFilter {


        .two-column_popup {
            width: 300px;
            margin-bottom: 3px;

            span.custom-control-description {
                font-size: 12px;
            }
        }
    }

}

/*----INDICATOR MODAL POPUP---*/
