<div class="main-article-content" style="min-height:365px;">

  <div class="loading-custom" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>

  <div class="total-count" *ngIf="!loading"><span><strong>Total News: </strong></span><span class="circle">{{newsletterListings.length}}</span></div>
  <br/>

  <div class="row card-listing-row" *ngFor="let newsletterListsTable of newsletterListings">
    <div class="col-md-12">
      <div class="blogs-card">
        <div class="title">
          <h3>
            <a [routerLink]="['/newsletter-details', newsletterListsTable.news_id]">
              {{newsletterListsTable.title}}
            </a>
          </h3>
          <small class="text-muted">
            Source:
            <a href="{{newsletterListsTable.url}}"
              target="_blank">
              {{newsletterListsTable.url}}
            </a>
          </small>
        </div>
        <div class="date-time">
          <span>{{newsletterListsTable.publication_date}}</span>
        </div>
        <div class="description">
          &bull; {{newsletterListsTable.description}}
        </div>
        <div class="mt-3 read-more">
          <div class="text-end">
            <a [routerLink]="['/newsletter-details', newsletterListsTable.news_id]">Read More</a>
          </div>
        </div>

        <div class="tag-lists">
          <h3 *ngIf="newsletterListsTable.ta_names || newsletterListsTable.disease_names || newsletterListsTable.company_names || newsletterListsTable.drug_names || newsletterListsTable.gene_names || newsletterListsTable.moa_names">Tags</h3>
          <li *ngIf="newsletterListsTable.ta_names">TA: {{newsletterListsTable.ta_names}}</li> 
          <li *ngIf="newsletterListsTable.disease_names">Disease: {{newsletterListsTable.disease_names}}</li> 
          <li *ngIf="newsletterListsTable.company_names">Company: {{newsletterListsTable.company_names}}</li> 
          <li *ngIf="newsletterListsTable.drug_names">Drug: {{newsletterListsTable.drug_names}}</li>
          <li *ngIf="newsletterListsTable.gene_names">Gene: {{newsletterListsTable.gene_names}}</li> 
          <li *ngIf="newsletterListsTable.moa_names">MOA: {{newsletterListsTable.moa_names}}</li>
        </div>
      </div>
    </div>

    

  </div>
</div>

  