.navbar-light .navbar-nav .nav-link {
	color: #1E2661 !important;
}

.two-side-wrapper {
	display: flex;
	background: #f8f9fa;
}

.two-side-wrapper .left-filter-panel {
	width: 330px;
	min-width: 330px;
	max-width: 330px;
	padding: 20px;
}

.two-side-wrapper .right-detail-panel {
	width: 100%;
	padding: 20px;
}

.card-panel-box {
	margin-bottom: 20px;
	box-shadow: 0px 1px 5px #ddd;
	background: #FFF;
}

.card-panel-box .card-panel-box-heading {
	font-size: 17px;
	padding: 7px 15px;
	background: #187ebc;
	color: #fff;
}

.card-panel-box .card-panel-box-detail {
	padding: 20px;
}

.card-panel-box .card-panel-box-detail .search-input {
	margin-bottom: 10px;
}

.card-panel-box .card-panel-box-detail .search-input input:focus {
	border: 1px solid #187ebc;
	outline: none;
	box-shadow: none;
}

.card-panel-box .card-panel-box-detail .checkbox-group .form-check {
	margin-bottom: 3px;
}

.heat-maps {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.heat-maps .card-panel-box {
	width: 32%;
}

.nowrap {
	white-space: nowrap;
}

.search-results {
	height: 100%;
}

.totalNewsHeadingCount {
	position: fixed;
    top: 30px;
    z-index: 9999;
    color: #fff;
	right: calc(50% - 180px);
}